* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container{
    background-color: white;
    width: 30%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 3px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-add{
    background-color: red;
    color: white;
    padding: .5rem;
    text-decoration: none;
    border-radius: 3px;
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

input{
    padding: .5rem;
}

button{
    padding: .5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}